﻿@model Aristotle.BusinessListings.ViewModels.MeetingFacilityListingEditViewModel

@{
    Style.Require("BusinessListings_Edit");

}

<fieldset>
    <legend>
        @T("Meeting Facility Details")
    </legend>
    <ol>
        <li>
            @Html.LabelFor(m => m.GuestRooms, T("Guest Rooms"))
            @Html.TextBoxFor(m => m.GuestRooms, new { @class = "text" })
        </li>
        <li>
            @Html.LabelFor(m => m.MeetingRooms, T("Meeting Rooms"))
            @Html.TextBoxFor(m => m.MeetingRooms, new { @class = "text" })
        </li>
        <li>
            @Html.LabelFor(m => m.MeetingSpace, T("Meeting Space (sq. ft.)"))
            @Html.TextBoxFor(m => m.MeetingSpace, new { @class = "text" })
        </li>
        <li>
            @Html.LabelFor(m => m.TheaterCapacity, T("Theater Capacity"))
            @Html.TextBoxFor(m => m.TheaterCapacity, new { @class = "text" })
        </li>
        <li>
            @Html.LabelFor(m => m.BanquetCapacity, T("Banquet Capacity"))
            @Html.TextBoxFor(m => m.BanquetCapacity, new { @class = "text" })
        </li>
        <li>
            @Html.LabelFor(m => m.BoothCount, T("Booth Count"))
            @Html.TextBoxFor(m => m.BoothCount, new { @class = "text" })
        </li>
        <li>
            @Html.LabelFor(m => m.FacilityNotes, T("Facility Notes"))
            @Html.TextBoxFor(m => m.FacilityNotes, new { @class = "text large" })
        </li>
      
    </ol>
</fieldset>
