﻿@model Aristotle.BusinessListings.ViewModels.ContactEditViewModel

@{
    Style.Require("BusinessListings_Edit");
   
}

<fieldset>
    <legend>
        @T("Contact Person")
    </legend>
    <ol>
        <li>
            @Html.LabelFor(m => m.FirstName, T("First Name"))
            @Html.TextBoxFor(m => m.FirstName, new { @class = "text" })
        </li>
        <li>
            @Html.LabelFor(m => m.LastName, T("Last Name"))
            @Html.TextBoxFor(m => m.LastName, new { @class = "text" })
        </li>
        <li>
            @Html.LabelFor(m => m.Company)
            @Html.TextBoxFor(m => m.Company, new { @class = "text" })
        </li>
       
        <li>
            @Html.LabelFor(m => m.Phone)
            @Html.TextBoxFor(m => m.Phone, new { @class = "text" })
        </li>
        <li>
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email, new { @class = "text" })
        </li>
      

        <li>
            @Html.LabelFor(m => m.Address)
            @Html.TextBoxFor(m => m.Address, new { @class = "text medium" })
        </li>
        <li>
            @Html.LabelFor(m => m.Address2, T("Additional Address Info"))
            @Html.TextBoxFor(m => m.Address2, new { @class = "text large" })
        </li>
        <li>
            @Html.LabelFor(m => m.City)
            @Html.TextBoxFor(m => m.City, new { @class = "text" })
        </li>
        <li>
            @Html.LabelFor(m => m.State)
            @Html.TextBoxFor(m => m.State, new { @class = "text" })
        </li>
        <li>
            @Html.LabelFor(m => m.ZipCode, T("ZIP Code"))
            @Html.TextBoxFor(m => m.ZipCode, new { @class = "text" })
        </li>
    </ol>
</fieldset>
