﻿@model Aristotle.BusinessListings.ViewModels.LodgingListingEditViewModel

@{
    Style.Require("BusinessListings_Edit");
   
}

<fieldset>
    <legend>
        @T("Lodging Details")
    </legend>
    <ol>
        <li>
            @Html.LabelFor(m => m.NumberOfRooms)
            @Html.TextBoxFor(m => m.NumberOfRooms, new { @class = "text" })
        </li>
    </ol>
</fieldset>
