﻿@model Aristotle.BusinessListings.ViewModels.AttractionListingEditViewModel

@{
    Style.Require("BusinessListings_Edit");   
}

<fieldset>
    <legend>
        @T("Attraction Details")
    </legend>
    <ol>
        <li>
            @Html.LabelFor(m => m.Hours, T("Hours of Operation"))
            @Html.TextBoxFor(m => m.Hours, new { @class = "text" })
        </li>
        
    </ol>
</fieldset>
