﻿@model Aristotle.BusinessListings.ViewModels.SeoMetaEditViewModel

@{
    Style.Require("BusinessListings_Edit");

}

<fieldset>
    <legend>
        @T("Search/Social Information")
    </legend>
    <ol>
        <li>
            @Html.LabelFor(m => m.Description)
            @Html.TextBoxFor(m => m.Description, new { @class = "text" })
        </li>
        <li>
            @Html.LabelFor(m => m.Keywords)
            @Html.TextBoxFor(m => m.Keywords, new { @class = "text" })
        </li>
        <li>
            @Html.LabelFor(m => m.FacebookLink, T("Facebook Link"))
            @Html.TextBoxFor(m => m.FacebookLink, new { @class = "text" })
        </li>
        <li>
            @Html.LabelFor(m => m.PinterestLink, T("Pinterest Link"))
            @Html.TextBoxFor(m => m.PinterestLink, new { @class = "text" })
        </li>
        <li>
            @Html.LabelFor(m => m.TwitterLink, T("Twitter Link"))
            @Html.TextBoxFor(m => m.TwitterLink, new { @class = "text" })
        </li>
        <li>
            @Html.LabelFor(m => m.GooglePlusLink, T("Google+ Link"))
            @Html.TextBoxFor(m => m.GooglePlusLink, new { @class = "text" })
        </li>
        <li>
            @Html.LabelFor(m => m.OgImage, T("OG Tag Image"))
            @Html.TextBoxFor(m => m.OgImage, new { @class = "text" })
        </li>
        <li>
            @Html.LabelFor(m => m.OtherHeader, T("Other Header Meta Tags"))
            @Html.TextBoxFor(m => m.OtherHeader, new { @class = "text large" })
        </li>
    </ol>
</fieldset>
