﻿@model Aristotle.BusinessListings.ViewModels.DiningListingEditViewModel

@{
    Style.Require("BusinessListings_Edit");
   
}

<fieldset>
    <legend>
        @T("Dining Details")
    </legend>
    <ol>
        <li>
            @Html.LabelFor(m => m.SeatingCapacity, T("Seating Capacity"))
            @Html.TextBoxFor(m => m.SeatingCapacity, new { @class = "text" })
        </li>
     
    </ol>
</fieldset>
