﻿@model Aristotle.BusinessListings.ViewModels.BusinessListingEditViewModel

@{
    Style.Require("BusinessListings_Edit");
    Script.Require("GoogleMaps");
    Script.Require("jQueryAutoGeocode");
}

<fieldset>
    <legend>
        @T("Business Contact")
    </legend>
    <ol>
        <li>
            @Html.LabelFor(m => m.Phone)
            @Html.TextBoxFor(m => m.Phone, new { @class = "text" })
        </li>
        <li>
            @Html.LabelFor(m => m.TollFree, T("Toll Free"))
            @Html.TextBoxFor(m => m.TollFree, new { @class = "text" })
        </li>
        <li>
            @Html.LabelFor(m => m.Fax)
            @Html.TextBoxFor(m => m.Fax, new { @class = "text" })
        </li>
        <li>
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email, new { @class = "text" })
        </li>
        <li>
            @Html.LabelFor(m => m.Website)
            @Html.TextBoxFor(m => m.Website, new { @class = "text" })
        </li>
        <li>
            @Html.LabelFor(m => m.BookingUrl, T("Booking URL"))
            @Html.TextBoxFor(m => m.BookingUrl, new { @class = "text" })
        </li>
    </ol>
</fieldset>

<fieldset>
    <legend>
        @T("Business Address")
    </legend>
    <ol>
        <li>
            @Html.LabelFor(m => m.Address)
            @Html.TextBoxFor(m => m.Address, new { @class = "text medium" })
        </li>
        <li>
            @Html.LabelFor(m => m.Address2, T("Additional Address Info"))
            @Html.TextBoxFor(m => m.Address2, new { @class = "text large" })
        </li>
       
        <li>
            @Html.LabelFor(m => m.State)
            @Html.TextBoxFor(m => m.State, new { @class = "text" })
        </li>
        <li>
            @Html.LabelFor(m => m.ZipCode, T("ZIP Code"))
            @Html.TextBoxFor(m => m.ZipCode, new { @class = "text" })
        </li>
    </ol>
</fieldset>

<fieldset>
    <legend>GPS Information</legend>
    <ol>
        <li>
            <span class="geocodeStatus">
            </span>
        </li>
        <li>
            @Html.LabelFor(m => m.GpsLat, T("Latitude"))
            @Html.TextBoxFor(m => m.GpsLat, new { @class = "text" })
        </li>
        <li>
            @Html.LabelFor(m => m.GpsLng, T("Longitude"))
            @Html.TextBoxFor(m => m.GpsLng, new { @class = "text" })
        </li>
    </ol>
</fieldset>


@using (Script.Foot()) {

<script type="text/javascript">
//<![CDATA[
    $(function () {

      
        autoGeocode({
            latitudeField: "[id$=GpsLat]",
            longitudeField: "[id$=GpsLng]",
            addressField: "[id$=Address]",
            cityField: "[id$=City]",
            stateField: "[id$=State]",
            zipField: "[id$=ZipCode]",
            statusField: ".geocodeStatus"
        });
    })
//]]>
</script>
}
