﻿@model Aristotle.BusinessListings.ViewModels.GolfListingEditViewModel

@{
    Style.Require("BusinessListings_Edit");
   
}

<fieldset>
    <legend>
        @T("Golf Course Details")
    </legend>
    <ol>
        <li>
            @Html.LabelFor(m => m.Holes)
            @Html.TextBoxFor(m => m.Holes, new { @class = "text" })
        </li>
        <li>
            @Html.LabelFor(m => m.Par)
            @Html.TextBoxFor(m => m.Par, new { @class = "text" })
        </li>
        <li>
            @Html.LabelFor(m => m.Yards)
            @Html.TextBoxFor(m => m.Yards, new { @class = "text" })
        </li>
    </ol>
</fieldset>
