﻿@using Aristotle.BusinessListings.ViewModels;
@{
    Style.Require("BusinessListings_Detail");
    SeoMetaViewModel seoModel = Model.Model;
    
}

<div class="businessListing">
    Facebook: <a href="@seoModel.FacebookLink">@seoModel.FacebookLink</a><br/>

</div>
