﻿@using Aristotle.BusinessListings.ViewModels;
@{
    BusinessListingViewModel businessListingModel = Model.Model;
    Script.Require("jQuery");
    Script.Require("GoogleMaps");
    Style.Require("BusinessListings_Detail");
}

<div class="businessListing">

    <div class="businessListing-info">
        <div class="businessListing-exactLocation">
            <dl>
                <dt>@T("Address")</dt>
                <dd>
                    <div class="businessListing-address">
                        @if (!String.IsNullOrWhiteSpace(businessListingModel.Address))
                        {
                            @businessListingModel.Address <br />
                        }
                        @if (!String.IsNullOrWhiteSpace(businessListingModel.Address2))
                        {
                            @businessListingModel.Address2 <br />
                        }
                        @businessListingModel.CityStateZip
                    </div>
                </dd>
            </dl>
        </div>
     
    </div>

    @if (businessListingModel.HasCoordinates)
{
    <div class="businessListing-googleMap">
        <div class="businessListing-googleMapCanvas"></div>
    </div>
}
</div>

@using (Script.Foot())
{
    if (businessListingModel.HasCoordinates)
    {
         <script type="text/javascript">
             $(function () {
                 var mapElement = $(".businessListing-googleMapCanvas");
                 var latitude = "@businessListingModel.GpsLat";
                 var longitude = "@businessListingModel.GpsLng";
                 if (mapElement.length > 0) {
                     var latLng = new google.maps.LatLng(latitude, longitude);

                     var myOptions = {
                         center: latLng,
                         zoom: 7,
                         mapTypeId: google.maps.MapTypeId.ROADMAP
                     };

                     var map = new google.maps.Map(mapElement.get(0), myOptions);

                     var marker = new google.maps.Marker({
                         position: latLng,
                         animation: google.maps.Animation.DROP,
                         map: map
                     });
                 } else {
                     //No map object, so don't bother
                 }
             })
    
         </script>
     }
}