﻿@using Aristotle.BusinessListings.ViewModels;
@{
    Style.Require("BusinessListings_Detail");
    GolfListingViewModel golfModel = Model.Model;
    
}

<div class="businessListing">
    Holes: @golfModel.Holes<br/>
    Par: @golfModel.Par<br />
    Yards: @golfModel.Yards<br />


</div>
