﻿@using Aristotle.BusinessListings.ViewModels;
@{
    Style.Require("BusinessListings_Detail");
    MeetingFacilityListingViewModel meetingModel = Model.Model;
    
}

<div class="businessListing">
    Guest Rooms: @meetingModel.GuestRooms<br/>
    Meeting Rooms: @meetingModel.MeetingRooms sq. ft.<br />
    Meeting Space: @meetingModel.MeetingSpace<br />
    Theater Capacity: @meetingModel.TheaterCapacity<br />
    Banquet Capacity: @meetingModel.BanquetCapacity<br />
    Booth Count: @meetingModel.BoothCount<br />
    Facility Notes: @meetingModel.FacilityNotes<br />
</div>
