﻿@using Orchard.Taxonomies.Models
@using (Html.BeginForm("List", "BusinessListingSearch", new { Area = "Aristotle.BusinessListings" }, FormMethod.Get, new { @class = "search-form" }))
{
    <fieldset>
        @Html.Label("keywords", "Keywords")
        @Html.TextBox("keywords")
      
        <select name="businessCategory">
            <option value="">Category</option>
            @foreach (TermPart term in Model.Terms) {
                <option value="@term.Slug">@term.Name</option>
            }
        </select>
        <button type="submit">@T("Search")</button>
    </fieldset>
}