.businessListing-date
{
    margin-bottom:.5em;    
}

.businessListing-info
{
    overflow: hidden;
}

.businessListing-info dl
{
    margin-bottom:0;
}

.businessListing-info dl dt
{
    display: inline;
    font-weight: bold;
}

.businessListing-info dl dd
{
    display: inline;
}

.businessListing-exactLocation
{
    width: 50%;
    float: left;
}

.businessListing-contact
{
    width: 50%;
    float: right;
}

.businessListing-contact dl.businessListing-contactName
{
    font-size: 1.1em;
}

.businessListing-googleMap
{
    width: 200px;
    float: right;
}

.businessListing-googleMapCanvas
{
    height: 200px;
    border: 1px solid;
}