html.dyn label.forpicker {
    display:none;
}

html.dyn input.hinted {
    color:#ccc;
    font-style:italic;
}

html.dyn input.hinted.hasDatepicker {
    text-align: center;
}

.geocodeStatus,
.geocodeStatus h3,
.geocodeStatus strong
{
    font-weight: bold;
}

.geocodeStatus .error
{
    color: red;
}

.geocodeStatus .success
{
    color: #090;
}